<div class="customAdminDiv">
              <h3 class="text-center" style="padding: 10px;"> ユーザ一覧</h1>

                  <table class="table table-hover table-striped ">
                    <thead>
                        <tr class = "text-center">
                            <th >ID</th>
                            <th>アドレス</th>
                            <th>管理者？</th>
                            <th>投稿</th>
                            <th>コメント</th>
                            <th>リンク</th>
                            <th>アクション</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.each do |user| %>
                        
                        <tr>
                            <td  class="textTable"><%= user.id %></td>
                            <td  class="textTable"><%= user.email %></td>
                            <td  class="textTable">
                                <%= user.is_admin %>
                                <% if current_user.id != user.id %>
                                <%= render "users/confirm_modal/edit", user: user %>
                                <button type="button" data-bs-toggle="modal" data-bs-target="#edit-confirm-modal" class="btn btn-primary", style="color: white;">
                                    編集
                                </button>
                                <% end %>
                            </td>
                            
                            <td  class="textTable"> <%=user.posts.size%></td>
                            <td  class="textTable"> <%=user.post_comments.size%> </td>
                            <td  class="textTable"><%= link_to "#{user_path(user)}", user_path(user) %></td>
                            
                            <td>
                                <% if current_user.id != user.id %>
                                <%= link_to "削除", user_path(user),
                                method: :delete,
                                data: {confirm: "Are you sure?"}, :class => "btn btn-danger", :style => "color: white" %> 
                                <% end %>
                            </td>
                        </tr>

                        <% end %>
                    </tbody>
                </table>
            </div>