<div class="container">
    <% if user_signed_in? %>
    <div class="row">
        <div class="col-9">
            <br>
            <%= render "devise/shared/search" %>
            <br><br>
            <div class="d-flex justify-content-around">
              <%= link_to "投稿", posts_path, :class => "btn btn-light", :style => "color: black" %>
              <%= link_to "ユーザ", users_path, :class => "btn btn-dark", :style => "color: white" %>
          </div>
          <br><br>
          <%= render "table", users: @users %>
            <br>
            
        </div>
        <div class="col-3" style="background-color: #000000;">
            <%= render "devise/shared/leftlayout" %>
        </div>
        <div>
            <%= render "devise/shared/modal" %>
        </div>
        <% end %>
    </div>