<div class="container">
  <div class="row">
    <div class="col-9">
      <br>
      <%= render "devise/shared/search" %>
      <br>
      <div class="customHomeDiv">
        <div style="display: flex; flex-direction: row; position: relative;">
          <div class="image_avatar"> 
            <% if @post.user.avatar.attached? %>
            <%= image_tag(@post.user.avatar, height: '50', width: '50', class: "image", :alt => "avatar")%>
            <% end %>
          </div>
          <h5 style="color: black; padding: 15px;"><%= @post.user.name %></h5>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" style="margin-top: 18px;" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
          </svg>
          <div class="col-6"></div>
          <% if @post.user.id == current_user.id %>
          <%= button_to '消去', @post, method: :delete, data: { confirm: '本気ですか？' }, :class => "btn btn-danger", :style => "
          margin-right: 0px, margin-top: 10px"%>
          <%= link_to "編集", edit_post_path(@post),data: { confirm: '本気ですか？' }, :style => "color: blue; font-size: 18px;  padding: 8px; text-decoration: unset; font-weight: bold" %> 
          <% end %>
        </div>
        <!--<p id="notice"><%= notice %></p>-->
        <p class="content text-break"><%= @post.date %></p>
        <strong><p class="title text-break"><%= @post.title %></p></strong>
        <p class="content text-break"><%= @post.content %></p>
        <strong><p class="tag"><%= @post.tag %></p></strong>

        <p>
          <% if @post.image.attached? %>
          <%= image_tag(@post.image, height: '500', width: '100%', style: "display: block; margin-left: auto; margin-right: auto;", :alt => "event")%>
          <% end %>
        </p>
      </div>
      <div class="customHomeDiv">
        <% @post.post_comment.each do |post_comment|%>
        <div style="display: flex; flex-direction: row; position: relative;">
          <div class="image_avatar"> 
            <% if post_comment.user.avatar.attached? %>
            <%= image_tag(post_comment.user.avatar, height: '50', width: '50', class: "image", :alt => "avatar")%>
            <% end %>
          </div>
          <p style="color: black; padding: 15px; font-size: 16px;"><strong><%= post_comment.user.name %>:</strong> <%= post_comment.comment %></p>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" style="margin-top: 18px;" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
          </svg>
          <div class="col-6"></div>
        </div>
        <% end %>
        <%= form_with(model: @post_comment, local: true) do |form| %>
        <div style="display: flex; flex-direction: row; position: relative;">
          <div class="image_avatar"> 
            <% if current_user.avatar.attached? %>
            <%= image_tag(current_user.avatar, height: '50', width: '50', class: "image", :alt => "avatar")%>
            <% end %>
          </div>
          <p style="color: black; padding: 15px; font-size: 16px;"><strong><%= current_user.name %></strong></p>
          <div class= "field col-7" style="margin: 5px">
            <%= form.text_field :comment, autofocus: true, class: "form-control text-break col-12", style: "padding-left: 10px;", rows: "4" %>
            <%= form.hidden_field :post_id, :value => @post.id %>
          </div>
          <div class="actions col-1" style="margin: 5px">
            <%= form.submit "コメント", class: "btn btn-primary" %>
          </div>
        </div>
        <% end %>
      </div>
      <%= link_to '戻る', posts_path, :class => "btn btn-dark", :style => "color: white" %>
    </div>
    <div class="col-3" style="background-color: #000000;">
      <%= render "devise/shared/leftlayout" %>
    </div>
    <%= render "devise/shared/modal" %>
  </div>
</div>
